@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-surface-highlight: var(--surface-highlight);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Mode Clair (Light) par défaut */
  --primary: #ffab21; /* Orange demandé */
  --primary-hover: #e6900b; /* Orange plus foncé pour le hover */
  --secondary: #2563eb;
  --surface: #f3f4f6;
  --surface-highlight: #ffffff;
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.dark {
  /* Mode Sombre (Dark) */
  --primary: #ffab21; /* Orange demandé */
  --primary-hover: #e6900b;
  --secondary: #2563eb;
  --surface: #171717;
  --surface-highlight: #262626;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s, color 0.3s;
}